.endturn-button {
    fill: #2F4F4F;
    stroke: #00FA9A;
    stroke-width: 10px;
    cursor: pointer;
}

.endturn-text {
    stroke: #00FA9A;
    stroke-width: 3px;
    text-anchor: middle;
    cursor: pointer;
}