.creature {
    stroke:black;
}

.attack {
    fill:rgb(255, 255, 0);
    stroke:black;
}

.attack-text {
    font-size: large;
    font-weight: bold;
    text-anchor: middle;
}

.health {
    fill:rgb(255, 0, 0);
    stroke:black;
}

.health-text {
    font-size: large;
    font-weight: bold;
    text-anchor: middle;
}