.forest {
    stroke: #F0FFFF;
    fill: #5bb21b;
    stroke-width: 3px;
}

.lake {
    stroke: #F0FFFF;
    fill: #0091e5;
    stroke-width: 3px;
}

.mountain {
    stroke: #F0FFFF;
    fill: #cf3201;
    stroke-width: 3px;
}

.desert {
    stroke: #F0FFFF;
    fill: #e5a018;
    stroke-width: 3px;
}

.prairie {
    stroke: #F0FFFF;
    fill: #baa79e;
    stroke-width: 3px;
}

.forest-opponent {
    stroke: #F0FFFF;
    fill: #22440a;
    stroke-width: 3px;
}

.lake-opponent {
    stroke: #F0FFFF;
    fill: #005586;
    stroke-width: 3px;
}

.mountain-opponent {
    stroke: #F0FFFF;
    fill: #8d2100;
    stroke-width: 3px;
}

.desert-opponent {
    stroke: #F0FFFF;
    fill: #8a600e;
    stroke-width: 3px;
}

.prairie-opponent {
    stroke: #F0FFFF;
    fill: #5c524d;
    stroke-width: 3px;
}

.none {
    stroke: #F0FFFF;
    fill: #00FFFF;
    stroke-width: 3px;
}

.tile-selectable {
    cursor: pointer;
}

.tile-not-selectable {
    cursor: not-allowed;
}