.modal {
    position: fixed;
    z-index: 500;
    background-color: rgba(114, 114, 114, 0.753);
    width: 96%;
    height: 96%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 2%;
    top: 2%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}